/* Default Styles (Desktop) */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    background-color: #a2b1b8;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
    display: block; /* Show video by default */
}

.mobile-background {
    display: none; /* Hide mobile background by default */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('space.png'); /* Mobile background image */
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.gradient {
    background-image: url('gradient.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

button {
    position: absolute;
    padding: 10px 20px;
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for responsive design */
}

/* Game Button */
#game {
    position: absolute;
    top: 70%;
    left: 18%;
    width: 300px;
    height: 100px;
    background-image: url('allmaps.jpg');
    background-size: 425%;
    background-position: 0 0;
    border: none;
    color: rgb(253, 253, 253);
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: background-position 6s ease-in-out, width 0.3s ease, height 0.3s ease;
    border-radius: 15px;
    box-shadow: #1a140d 5px 5px 0 0;
    border: 2px solid #1f1a10;
    text-shadow: 
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
    mix-blend-mode: difference; /* This will blend the button with the background */
}

#game:hover {
    background-position: 100% 0;
    width: 330px;
    height: 115px;
    mix-blend-mode: normal; /* Change blend mode on hover to reveal hover effect */
}

#game:active {
    box-shadow: #16120b 2px 2px 0 0;
    transform: translate(5px, 5px);
}




#art {
    top: 60%;
    left: 43%;
    z-index: 1;
    width: 260px;
    height: 200px;
    background-image: url('destroyedhome.png');
    background-size: 100%;
    background-position: center;
    border: none;
    color: rgb(253, 253, 253);
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
    transition: background-size 6s ease-in-out, box-shadow 1s ease, border-color 1s ease, height 1s ease, width 1s ease;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #4e4e4e;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    border-radius: 30px;

}

#art:hover {
    background-size: 170%;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
    border-color: #181818;
    height: 210px;
    width: 270px;
}

#art:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(5px, 5px);
  }


#certs {
    top: 70%;
    left: 65%;
    width: 100px;
    height: 100px;
    background-image: url('sec+.png');
    background-size: 100%;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #4e4e4e;
    text-shadow: 
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}
#certs:hover {
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
    border-color: #181818;
    width: 110px;
    height: 110px;
}
#dashboard {
    top: 85%;
    left: 10%;
    width: 100px;
    height: 100px;
    background-image: url('dashboard.PNG');
    background-size: 100%;
    border: none;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #4e4e4e;
    text-shadow: 
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}
#dashboard:hover {
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.5);
    border-color: #181818;
    width: 110px;
    height: 110px;
}

.smiley {
    background-image: url('cat_body.png');
    position: absolute;
    bottom: -8%;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.eye {
    position: absolute;
    width: 50px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 90%;
    top: 183px;
}

.eye.left {
    left: 80px;
    background-image: url('eye1.PNG');
    z-index: 2;
}

.eye.right {
    right: 94px;
    background-image: url('eye2.PNG');
    z-index: 2;
}

.paw1, .paw2 {
    position: absolute;
    bottom: -5%;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.paw1 {
    left: 40%;
    background-image: url('paw2.png');
}

.paw2 {
    right: 38%;
    background-image: url('paw1.png');
}



